/*RELEVANT SELECTORS CAN BE FOUND AT /src/modules/routes/chats/modals/stylesheets/FriendListModal.css*/

.start-search-notice,
.not-found-notice {
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.start-search-notice h2,
.not-found-notice h2 {
    font-size: var(--fs-md);
}

.start-search-notice p,
.not-found-notice p {
    font-size: var(--fs-sm);
    color: var(--muted-color-sharper);
}
