/*RELEVANT SELECTORS CAN BE FOUND AT /src/modules/routes/chats/modals/stylesheets/FriendListModal.css*/

.start-search-notice,
.not-found-notice,
.loading-search-notice {
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.start-search-notice h2,
.not-found-notice h2,
.loading-search-notice h2 {
    font-size: var(--fs-md);
}

.loading-search-notice h2 {
    animation: pulse 2.5s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}

.start-search-notice p,
.not-found-notice p {
    font-size: var(--fs-sm);
    color: var(--muted-color-sharper);
}

.matching-user-list
    .friend-item-cont
    .friend-item-user-data
    .user-info
    .user-username {
    max-width: 17ch;
}

.matching-user-list
    .friend-item-cont
    .friend-item-user-data
    .user-info
    .user-name {
    max-width: 20ch;
}

@media (min-width: 40rem) {
    .matching-user-list
        .friend-item-cont
        .friend-item-user-data
        .user-info
        .user-username {
        max-width: 33ch;
    }

    .matching-user-list
        .friend-item-cont
        .friend-item-user-data
        .user-info
        .user-name {
        max-width: 40ch;
    }
}

@media (min-width: 48rem) {
    .matching-user-list
        .friend-item-cont
        .friend-item-user-data
        .user-info
        .user-username {
        max-width: 42ch;
    }

    .matching-user-list
        .friend-item-cont
        .friend-item-user-data
        .user-info
        .user-name {
        max-width: 50ch;
    }
}
