.loading-friend-modal-cont {
    margin-top: 2rem;
    margin-bottom: 1.25rem;

    text-align: center;
}

.loading-friend-modal-cont h2 {
    font-size: var(--fs-md);
    animation: pulse 2.5s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }
}