/*SELECTOR RELATED TO BUTTON STYLING CAN BE FOUND AT /src/modules/routes/chats/footer/stylesheets/ChatsFooter.css*/
/*SELECTOR RELATED TO BUTTON STYLING CAN BE FOUND AT /src/modules/routes/chats/footer/stylesheets/LogoutPopover.css*/

.chats-footer button.misc-actions:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.footer-menu-item:hover,
.profile-menu-item:hover,
.chat-menu-item:hover {
    background-color: var(--hover-background);
}

.footer-menu-item-label,
.profile-menu-item-label,
.chat-menu-item-label {
    font-size: var(--fs-sm);
    color: var(--muted-color-sharper-popover);
    letter-spacing: 0.025rem;
}

.footer-menu-item-section,
.profile-menu-item-section,
.chat-menu-item-section {
    color: var(--muted-color-sharper-popover);
}
