.app-overview-cont {
    align-self: center;

    margin-top: 2rem;
    margin-bottom: auto;
    padding: 1rem;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.app-overview-cont .overview-fragment {
    text-align: center;
    padding: 1rem;

    border: 1px solid var(--separator-border);
    border-radius: 0.5rem;

    --background-direction: top;

    background:
        linear-gradient(
            to var(--background-direction),
            rgba(13, 17, 23, 0) 0%,
            var(--background-color) 70%
        ),
        repeating-linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.035) 0px,
            rgba(255, 255, 255, 0.035) 1px,
            transparent 1px,
            transparent 28px
        ),
        repeating-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.035) 0px,
            rgba(255, 255, 255, 0.035) 1px,
            transparent 1px,
            transparent 28px
        );
}

.app-overview-cont .overview-fragment:nth-child(3n + 1) {
    --background-direction: top;
}

.app-overview-cont .overview-fragment:nth-child(3n + 2) {
    --background-direction: bottom;
}

.app-overview-cont .overview-fragment:nth-child(3n + 3) {
    --background-direction: top;
}

.app-overview-cont .overview-fragment h2 {
    font-size: var(--fs-base);
    font-weight: 700;
    letter-spacing: 0.04rem;
    color: var(--light-text);
    margin-bottom: 0.3rem;

    text-wrap: nowrap;
}

.app-overview-cont .overview-fragment p {
    font-size: var(--fs-sm);
    color: var(--muted-color);
    font-weight: 400;
    line-height: 1.55;
}

@media (min-width: 40rem) {
    .app-overview-cont {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .app-overview-cont .overview-fragment:nth-child(3n + 1) {
        --background-direction: right;
    }

    .app-overview-cont .overview-fragment:nth-child(3n + 2) {
        --background-direction: bottom;
    }

    .app-overview-cont .overview-fragment:nth-child(3n + 3) {
        --background-direction: left;
    }
}

@media (min-width: 64rem) {
    .app-overview-cont .overview-fragment {
        padding: 1.5rem;
    }
}
